@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inconsolata-Regular.woff) format('woff'),
    url(../fonts/Inconsolata-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Regular.woff) format('woff'),
    url(../fonts/PlayfairDisplay-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Bold.woff) format('woff'),
    url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PlayfairDisplay-Italic.woff) format('woff'),
    url(../fonts/PlayfairDisplay-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Ubuntu-Light.woff) format('woff'),
    url(../fonts/Ubuntu-Light.woff2) format('woff2');
}
