<section class="cards">
  <div class="container">
    <ul class="cards__container-gallery gallery__button_margin">
      <li class="cards__gallery-item1 cards__gallery-item">
        <div class="cards__container-img">
          <img class="cards-person" src="./images/cards/image5.jpg" alt="person" />
        </div>
        <div class="cards__container-contact">
          <p class="description">lifestyle</p>
          <p class="title">Top 10 song for running</p>
          <p class="cards__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris
          </p>
        </div>
      </li>
      <li class="cards__gallery-item2 cards__gallery-item">
        <div class="cards__container-img">
          <img class="cards-person" src="./images/cards/image6.jpg" alt="person" />
        </div>
        <div class="cards__container-contact">
          <p class="description">lifestyle</p>
          <p class="title">Cold winter days</p>
          <p class="cards__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris
          </p>
        </div>
      </li>
    </ul>
    <button class="button" type="button">Load more</button>
  </div>
</section>
