<section class="cards">
  <div class="container">
    <ul class="cards__container-gallery">
      <li class="cards__gallery-item1 cards__gallery-item">
        <div class="cards__container-img">
          <img class="cards-person" src="./images/cards/image1.jpg" alt="person" />
        </div>
        <div class="cards__container-contact">
          <p class="description">lifestyle</p>
          <p class="title">More than just a music festival</p>
          <p class="cards__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris
          </p>
        </div>
      </li>
      <li class="cards__gallery-item2 cards__gallery-item">
        <div class="cards__container-img">
          <img class="cards-person" src="./images/cards/image2.jpg" alt="person" />
        </div>
        <div class="cards__container-contact">
          <p class="description">lifestyle</p>
          <p class="title">Life tastes better with coffee</p>
          <p class="cards__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris
          </p>
        </div>
      </li>
      <li class="cards__gallery-item3 cards__gallery-item">
        <div class="cards__container-img">
          <img class="cards-person" src="./images/cards/image3.jpg" alt="person" />
        </div>
        <div class="cards__container-contact">
          <p class="description">photodiary</p>
          <p class="title">American dream</p>
          <p class="cards__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris
          </p>
        </div>
      </li>
      <li class="cards__gallery-item3 cards__gallery-item">
        <div class="cards__container-img">
          <img class="cards-person" src="./images/cards/image4.jpg" alt="person" />
        </div>
        <div class="cards__container-contact">
          <p class="description">photodiary</p>
          <p class="title">A day exploring the Alps</p>
          <p class="cards__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
