<section class="cards">
  <div class="container">
    <ul class="contacts__container-gallery">
      <li class="contacts__gallery-item1 contacts__gallery-item">
        <div class="contacts__container-backdrop">
          <img class="contacts-person" src="./images/cards/image1.jpg" alt="person" />
        </div>
        <div class="contacts__container-contact">
          <p class="contacts__name">John Doe</p>
          <p class="contacts__position">President</p>
        </div>
      </li>
      <li class="contacts__gallery-item2 contacts__gallery-item">
        <div class="contacts__container-backdrop">
          <img class="contacts-person" src="./images/cards/image2.jpg" alt="person" />
        </div>
        <div class="contacts__container-contact">
          <p class="contacts__name">Jane Doe</p>
          <p class="contacts__position">Vice President</p>
        </div>
      </li>
      <li class="contacts__gallery-item3 contacts__gallery-item">
        <div class="contacts__container-backdrop">
          <img class="contacts-person" src="./images/cards/image3.jpg" alt="person" />
        </div>
        <div class="contacts__container-contact">
          <p class="contacts__name">Steve Smith</p>
          <p class="contacts__position">Marketing Head</p>
        </div>
      </li>
      <li class="contacts__gallery-item3 contacts__gallery-item">
        <div class="contacts__container-backdrop">
          <img class="contacts-person" src="./images/cards/image4.jpg" alt="person" />
        </div>
        <div class="contacts__container-contact">
          <p class="contacts__name">Steve Smith</p>
          <p class="contacts__position">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
