<footer class="footer">
  <div class="container">
    <div class="footer__nav_container">
      <ul class="nav__links">
        <li class="nav__link_item"><a href="#">Terms and conditions</a></li>
        <li class="nav__link_item"><a href="#">Privacy</a></li>
      </ul>
    </div>
    <div class="footer__social_container">
      <p>Follow</p>
      <ul class="social__links">
        <li class="social__link_item"><img src="./images/footer/facebook.png" alt="facebook" /></li>
        <li class="social__link_item"><img src="./images/footer/twitter.png" alt="twitter" /></li>
        <li class="social__link_item">
          <img src="./images/footer/instagram.png" alt="instagram" />
        </li>
      </ul>
    </div>
  </div>
</footer>
