<section class="like">
  <div class="container">
    <p class="description like__margin">you may also like</p>
    <ul class="list">
      <li class="list__item">
        <div class="list__item_container-img">
          <img class="list__item_img" src="./images/cards/image6.jpg" alt="post" />
        </div>
        <p class="list__item_name">Cold winter days</p>
      </li>
      <li class="list__item">
        <div class="list__item_container-img">
          <img class="list__item_img" src="./images/cards/image4.jpg" alt="post" />
        </div>
        <p class="list__item_name">A day exploring the Alps</p>
      </li>
      <li class="list__item">
        <div class="list__item_container-img">
          <img class="list__item_img" src="./images/cards/image3.jpg" alt="post" />
        </div>
        <p class="list__item_name">American dream</p>
      </li>
    </ul>
  </div>
</section>
