.button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.2;
  padding: 22px 34px;
  border: 1px solid rgb(98, 98, 98);
}
