.title {
  font-size: 18px;
  font-family: 'PlayfairDisplay';
  font-weight: 400;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  @include min-width('medium') {
    font-size: 19px;
  }
  @include min-width('large') {
    font-size: 30px;
  }
}
