.cards {
  padding: 15px 15px;
}

.cards__container-gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
.cards__gallery-item {
  display: grid;
  grid-template-rows: 1fr 225px;
  transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
  }
}
.cards__container-img {
  margin-bottom: 30px;
}
.cards-person {
  min-width: 100%;
}
.cards .description {
  margin-bottom: 20px;
}
.cards .title {
  margin-bottom: 20px;
}
.cards__container-contact {
  padding-left: 3px;
  padding-right: 2px;
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.714;
}

@media screen and (min-width: 768px) {
  .cards {
    padding: 30px 50px;
  }
  .cards__container-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .cards__gallery-item {
    grid-template-rows: 1fr 225px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__container-gallery {
    gap: 60px;
  }
  .cards {
    padding: 50px 80px 120px;
  }
  .cards .description {
    margin-bottom: 30px;
  }
  .cards .title {
    margin-bottom: 40px;
  }
}
