.form {
  background-color: #b6bec1;
  padding-top: 75px;
  padding-bottom: 75px;
}
.form .title {
  text-align: center;
  margin-bottom: 75px;
}
.form__input_container {
  position: relative;
}
.form__send-icon {
  position: absolute;
  right: 0px;
  bottom: 14px;
}
.form__input {
  background-color: #b6bec1;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 4px;
  padding-bottom: 14px;
}
.form__form {
  display: block;
  max-width: 430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
