.header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 30px;
  font-family: 'Inconsolata';
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.8;
}
.burger__menu {
  margin-left: auto;
}

.nav {
  display: none;
}
.nav_burger {
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  :not(:last-child) {
    margin-bottom: 15px;
  }
  z-index: 100;
}
@media screen and(min-width:768px) {
  .logo {
    font-size: 30px;
    font-family: 'Inconsolata';
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.8;
  }
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .nav {
    margin-left: auto;
    display: flex;
    :not(:last-child) {
      margin-right: 50px;
    }
  }
  .nav_item {
    font-size: 14px;
    font-family: 'PlayfairDisplay';
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
  }
  .burger__menu {
    display: none;
  }
}

@include min-width('large') {
  .logo {
    font-size: 30px;
    font-family: 'Inconsolata';
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.8;
  }
  .header {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .nav {
    margin-left: auto;
    display: flex;
    :not(:last-child) {
      margin-right: 120px;
    }
  }
  .nav_item {
    font-size: 14px;
    font-family: 'PlayfairDisplay';
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
  }
}
